[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==2.2.4"
pandas = "==2.2.2"
matplotlib = "==3.10.1"

[dev-packages]
pytest = "==8.3.5"
pylint = "==3.3.6"
black = "==25.1.0"

[requires]
python_version = "3.11"
